
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e9e9e9; 
    color: #333; 
    margin: 0;
}

html, body {
    font-size: 16px; 
    height: 100%;
    overflow-x: hidden; 
}


.header-container, main, footer {
    width: 100vw; 
    max-width: 100vw; 
}


main {
    width: 100%; 
    max-width: 100vw; 
    background-color: white; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Protest Guerrilla', sans-serif; 
    font-size: 3em; 
    margin: 0.5em 0; 
}


.header-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.logo img {
    max-width: 150px; 
    margin-bottom: 10px; 
}


.navbar {
    display: flex;
    gap: 20px; 
}

.navbar a {
    text-decoration: none;
    color: #333; 
    font-size: 1.2em; 
}


.album-gallery img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}


.author-image {
    width: 200px;
    border-radius: 50%; 
}


footer {
    background-color: #14181d;
    color: white; 
    padding: 10px;
    text-align: center; 
    width: 100vw;
    margin: 0;
}






/* Small Mobile (360px-540px) */
@media (max-width: 540px) {
    
    
    .header-container, .main, .footer, .navbar a, .content-container {
        margin: 12px;
        padding: 12px;
    }

    
    .logo img {
        width: 80px; 
        margin-top: 10px;
        margin-bottom: 0; 
    }

    
    h1 {
        font-size: 3.3em; 
        text-align: center;
        margin-bottom: 0; 
    }

    h2 {
        font-size: 3em; 
        text-align: center;
        margin-top: 0; 
    }

    p {
        font-size: 1em; 
        line-height: 1.5; 
        margin-bottom: 12px;
        padding: 10px; /
    }
    
    
    .header-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        padding: 0; 
        margin: 0 auto; 
        width: 100%;
        text-align: center; 
    }
    
    
    .navbar {
        display: flex;
        justify-content: center; 
        gap: 12px; 
    }

    .navbar a {
        text-decoration: none;
        color: #333; 
        font-size: 0.9em; 
        white-space: nowrap; 
        margin-bottom: 0; 
    }

    
    .article-content {
        padding: 10px; 
    }

    
    .featured-album img:first-child {
        display: none; 
    }

    
    .author-section {
        text-align: center; 
        padding: 0 12px; 
    }

    .author-image {
        display: block;
        margin: 20px auto 10px auto; 
        width: 160px; 
    }

    .author-details {
        text-align: left; 
    }
    
    
    footer {
        padding: 12px; 
        text-align: center; 
    }
}


@media (min-width: 540px) and (max-width: 720px) {
    
    .header-container, .main, .footer, .content-container {
        margin: 20px;
        padding: 20px;
    }

    
    .logo img {
        width: 80px; 
    }

    
    h1 {
        font-size: 3em; 
        text-align: center; 
        margin-bottom: 0; 
    }

    h2 {
        font-size: 2.5em; 
        text-align: center; 
        margin-top: 0; 
    }

    
    .title-box p {
        margin-left: 20px; 
        margin-bottom: 0; 
    }

    p {
        font-size: 1.1em; 
        line-height: 1.6; 
        margin-bottom: 20px; 
        padding: 10px; 
    }

    
    .header-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        padding: 0; 
        margin: 0 auto; 
        width: 100%;
        text-align: center; 
    }
    
    
    .navbar {
        display: flex;
        justify-content: center; 
        gap: 20px; 
        padding: 0; 
        margin: 10px 0; 
    }

    .navbar a {
        text-decoration: none; 
        color: #333; 
        font-size: 1em; 
        white-space: nowrap; 
        padding: 0; 
        margin: 0; 
    }

    
    .article-content {
        padding: 20px; 
    }

    .article-content h1 {
        margin-top: 0px; 
        padding: 0; 
    }

    
    .author-section {
        text-align: center; 
        padding: 0 20px; 
    }

    
    .featured-album img:first-child {
        display: none; 
    }

    .author-image {
        display: block;
        margin: 20px auto 10px auto; 
        width: 160px; 
    }

    .author-details {
        text-align: left; 
    }
    
    
    footer {
        padding: 20px; 
        text-align: center; 
    }
}


@media (min-width: 720px) and (max-width: 1024px) {

    
    body > :not(.header-container) {
        border: 1px solid #14181d;
        padding: 0px; 
        margin: 0 auto; 
        max-width: 650px; 
    }

    
    .header-container, .main, .footer, .navbar a, .content-container {
        margin: 30px;
        padding: 30px; 
    }

    
    .logo {
        margin-top: 20px; 
    }

    .logo img {
        width: 80px; 
    }

    
    h1 {
        font-size: 4em; 
        text-align: center;
        margin-bottom: 0; 
    }

    h2 {
        font-size: 4em; 
        text-align: center;
        margin-top: 0; 
        margin-bottom: 0; 
    }

    p {
        font-size: 1.5em; 
        line-height: 1.6; 
        margin-top: 20px;
        margin-bottom: 0px; 
        padding: 0px 20px; 
    }

    
    .header-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        padding: 0; 
        margin: 0 auto; 
        width: 100%;
        text-align: center; 
    }
    
    
    .navbar {
        display: flex;
        justify-content: center; 
        gap: 30px; 
    }

    .navbar a {
        text-decoration: none;
        color: #333; 
        font-size: 1em; 
        white-space: nowrap; 
        padding: 0; 
        margin: 0; 
    }

    
    .article-content {
        padding: 20px; 
    }

    .article-content h1 {
        margin-top: 0px; 
        padding: 0; 
    }

    .article-content h2,
    .article-content h3 {
        margin-top: 10px; 
    }

    
    .featured-album img:first-child {
        display: none; 
    }

    
    .album-covers {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    .album-covers img {
        width: 100%; 
        height: auto; 
    }


    .featured-album img:first-child {
        display: none; 
    }

    
    .author-section {
        display: flex;
        flex-direction: row-reverse; 
        align-items: center;
        text-align: left;
        gap: 20px; 
        padding: 0 30px; 
    }

    .author-image {
        display: block;
        margin: 20px auto 10px auto; 
        width: 160px; 
        height: auto; 
    }

    .author-details p {
        text-align: left; 
        margin-bottom: 20px; 
        flex: 1; 
    }

    .author-details h2 {
        text-align: center; 
        margin-left: 40px; 
        margin-top: 20px; 
    }
    
    
    footer {
        padding: 30px; 
        text-align: center; 
        width: 100%; 
        box-sizing: border-box; 
    }
}


@media (min-width: 1024px) {
    

    .header-container {
        margin: 0 auto; 
        padding: 20px 50px; 
        width: 100%;
        text-align: center;
    }

    
    .content-container {
        border: 1px solid #14181d; 
        padding: 50px; 
        max-width: 960px; 
        margin: 0 auto; 
    }

    .main, .footer, .navbar a, .content-container {
        margin: 50px;
        padding: 50px; 
    }

    
    .logo img {
        width: 200px; 
    }

    
    .title {
        margin-left: 20px; 
        margin-top: 0px;
    }

    
    .title h1 {
        font-size: 5em; 
        text-align: left; 
        margin-bottom: 0;
    }

    .title h2 {
        font-size: 3em; 
        text-align: left; 
        margin-top: 0;
    }

    
    .title p:first-of-type {
        font-size: 1.3em; 
        line-height: 1; 
        margin-bottom: 10px;
        margin-right: 150px; 
    }

    
    h1, h2, h3 {
        font-size: 3em; 
    }

    
    p {
        font-size: 0.8em; 
        line-height: 1; 
        margin-bottom: 20px; 
        padding: 10px; 
    }

    
    .navbar {
        display: flex;
        justify-content: center; 
        gap: 150px; 
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .navbar a {
        text-decoration: none; 
        color: #333; 
        font-size: 1em; 
        white-space: nowrap; 
        padding: 0;
        margin: 0;
    }

    
    .main {
        padding: 5px; 
        column-count: 3; 
        text-align: left; 
        margin-bottom: 10px;
    }

    .main h2 {
        margin: 0; 
        text-align: left;
        margin-left: 10px; 
    }

    
    .main p {
        margin: 0px; 
    }

    
    .image_gallery {
        display: flex;
        align-items: flex-start; 
        gap: 0px; 
    }

    
    .featured-album {
        flex: 1; 
    }

    .featured-album img {
        display: block !important; 
        width: 100%; 
        height: auto;
    }

    
    .album-covers {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 0px; 
        flex: 1; 
    }

    .album-covers img {
        width: 100%; 
        height: auto; 
    }

    
    .author-section {
        display: flex;
        flex-direction: row-reverse; 
        align-items: center;
        gap: 50px; 
        text-align: left; 
        margin-top: 10px;
    }

    .author-image {
        width: 160px; 
        height: auto;
    }

    .author-details {
        flex: 1; 
        margin-left: 20px; 
    }
    
    
    footer {
        padding: 10px; 
        text-align: center; 
    }
}
